
<footer class=" text-center text-lg-start " style="background-color: #f7f7f7;">
  <!-- Grid container -->
<br>  
 
  <div class="container   " style="background-color: #f7f7f7 ;">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        
        <h3 class="text-uppercase">Contáctanos</h3>
        
        <div >
         
          
          <p  >
            <i class="fas fa-envelope me-3 " >
              
            </i>
            <a href="mailto:eialab2020@gmail.com">eialab2020@gmail.com</a>
          </p>
          
          
          
          <p><i class="fas fa-phone me-3"></i>
            
            <a  href="tel:56954102964"> (+56) 9 5410 2964</a>
           </p>
       
        </div>
     
       
        <hr> 
        <h3 class="text-uppercase">Horario de atención</h3>
        <p>Lunes a Viernes</p> 
        
        <p>09:00 a 18:00 Hrs.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
        <h3 class="text-uppercase">Ubicación</h3>
        

          <p>Zenteno 201, oficina 4.La Calera </p>
        
          <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.162157519331!2d-71.19053788481759!3d-32.787959380968736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x968834ac423fc007%3A0x2ca72c8bc8fdb7ce!2sZenteno%20201%2C%20oficina%204%2C%20La%20Calera%2C%20Calera%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1649031113612!5m2!1ses-419!2scl" width="640" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
                  
      </div>
     

      
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:#278fc1">
  <h4 style="color: #f8f9fa;"> © 2022 Copyright: Desarrollado por EIALAB</h4>
   
  </div>
  <!-- Copyright -->
</footer>

