<app-navegacion></app-navegacion>
<hr class="featurette-divider">

<br>


<div class="container marketing">

    <!-- Claudio tapia -->
    <div class="row ">
      <div class="col-lg-4 text-center ">

        <!--img src="assets\Images\Filtros multimedia.jpg" class=" rounded-circle"   alt="..."-->

        <img src="https://media-exp1.licdn.com/dms/image/C5603AQEdG62eHOvybA/profile-displayphoto-shrink_800_800/0/1517458041173?e=1657756800&amp;v=beta&amp;t=-8GUGLUJ4VWacfDGfvvDWaA31fUDBK7CJRJR5J7VZdA" alt="Foto de perfil de Claudio Tapia" id="ember537" class="pv-member-photo-modal__profile-image ember-view">

        <h4 class="uppercase">
          <span class="person-name">CLAUDIO TAPIA SALAZAR</span><br>
          <span class="person-title is-small thin-font op-7">Ingeniería de Ejecución en Química</span>
        </h4>
       
        
        <p>Ingeniero Químico, Universidad de Antofagasta.<br>
          Jefe de Laboratorio de Análisis de minerales y Control Planta, SERQUIM S.A. <br>
          Supervisor de laboratorio y muestrera, Análisis Quimico de Minerales faena Michilla, AQM Ltda. <br>
          Supervisar contrato de Operación y Mantenimiento de Planta de Ósmosis Inversa de Minera Sierra Gorda Sociedad Contractual, AQUALOGY.<br>
          Administrar Contrato de Operación y Mantenimiento de Planta de Ósmosis Inversa de faena Ministro Alejandro Hales (DMH) de propiedad de CODELCO, AGUASIN SPA.</p>
        
      </div><!-- /.col-lg-4 -->

      <!--Magdiel valenzuela-->
      <div class="col-lg-4 text-center">

        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEB3lnN-cXJHg/profile-displayphoto-shrink_800_800/0/1652483492180?e=1657756800&amp;v=beta&amp;t=-cheyOO7lf-GWmARP1BXk_IlTL-3xrYaiig8zhUfHpU" alt="Foto de perfil de Magdiel valenzuela Aguilera" id="ember761" class="pv-member-photo-modal__profile-image ember-view">

        <h4 class="uppercase">
          <span class="person-name">MAGDIEL VALENZUELA</span><br>
          <span class="person-title is-small thin-font op-7">Ingeniero Mecanico Industrial</span>
        </h4>
        <p>Ingeniero Mecanico Industrial, Universidad Técnica Federico Santa María.<br>
          Jefe de turno Mantención interino Asegurar la seguridad del personal e instalaciones, liderando al equipo humano y
          motivando el trabajo seguro, ANGLO AMERICAN. <br>
          Mantenedor Superior Filtros Hiperbáricos,ANGLO AMERICAN. <br>
          Supervisor de cuadrilla, encargado en la mantención preventiva de bombas horizontales 3600 
          Proyecto Expansión Los Bronces, ANGLO AMERICAN.</p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGNei5PujjtKQ/profile-displayphoto-shrink_800_800/0/1650505119311?e=1657756800&amp;v=beta&amp;t=K8RBaK6AMV-VaAkOR2BtMLMsqzDIgg6aBdrkY_sh3FA" alt="Foto de perfil de Jorge Reyes" id="ember210" class="pv-member-photo-modal__profile-image ember-view">

        <h4 class="uppercase">
          <span class="person-name">JORGE REYES</span><br>
          <span class="person-title is-small thin-font op-7">Ingeniero Industrial</span>
        </h4>

        <p>Ingeniero Industrial, Instituto Profesional IACC.<br>
          Operador líder en planta de osmosis inversa de minera Sierra Gorda, SUEZ. <br>
          Operador mantenedor planta de RIL. En Finning CRC, Empresa AGUAS Y RILES. <br>
          Técnico monitor de calidad realizando tareas de controles en producción en las distintas etapas del proceso, VIÑA CONCHA Y TORO.<br>
          </p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


  </div>



  <br>
  <br>



<app-footer></app-footer>