<app-navegacion></app-navegacion>

<hr class="featurette-divider">

<div class="row featurette  font1">
    <div class="col-md-7 p-6 ">
        <p class="h1" style="color: #5a5a5a;">Los Filtros Multimedia </p>
      <p class="lead">Los filtros multimedia son un equipamiento de purificación de agua de alto rendimiento, en los que el agua pasa a través de diferentes
           filtros donde se van eliminando el cloro, las bacterias, los metales pesados, 
          los sedimentos y las impurezas. De esta forma, se obtiene un agua altamente pura, sin rechazo de agua y sin pérdida de caudal.</p>
    </div>
    <div class="col-md-5 p-3">
      <img class="img " src="assets\Trabajo\Filtros multimedia.jpeg" alt="">
    </div>
  </div>
  <hr class="featurette-divider">


<app-footer></app-footer>