<app-navegacion></app-navegacion>


<hr class="featurette-divider">

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb font1">
    <li class="breadcrumb-item active" aria-current="page">Riles</li>
    <li class="breadcrumb-item"><a href="filtros">Filtros Multimedia</a></li>
    <li class="breadcrumb-item"><a href="osmosis">Ósmosis Inversa</a></li>
    <li class="breadcrumb-item"><a href="ultrafiltracion">Ultrafiltración</a></li>
  </ol>
</nav>


<hr class="featurette-divider">

<div class="row featurette  font1">

    <div class="col-md-7 p-6 ">
        <p class="h1" style="color: #5a5a5a;">Los Residuos Industriales Líquidos</p>
      <p class="lead">Los Residuos Industriales Líquidos, también conocidos como RILes, son aguas de desecho resultantes del proceso, actividad o los servicios de las industrias, y que pueden traer consigo altas concentraciones de elementos contaminantes. Los RILes se pueden clasificar según sus componentes y la actividad industrial de los generadores.</p>
    </div>
    <div class="col-md-5 p-3">
      <img class="img" src="assets\Trabajo\Riles informacion.jpeg" alt="">

    </div>
  </div>
  <hr class="featurette-divider">


<app-footer></app-footer>