<app-navegacion></app-navegacion>

<hr class="featurette-divider">

<div class="row featurette  font1">
    <div class="col-md-7 p-6 ">
        <p class="h1" style="color: #5a5a5a;">Los Residuos Industriales Líquidos</p>
      <p class="lead">Los Residuos Industriales Líquidos, también conocidos como RILes, son aguas de desecho resultantes del proceso, actividad o los servicios de las industrias, y que pueden traer consigo altas concentraciones de elementos contaminantes. Los RILes se pueden clasificar según sus componentes y la actividad industrial de los generadores.</p>
    </div>
    <div class="col-md-5 p-3">
      <img class="img" src="assets\Trabajo\Riles informacion.jpeg" alt="">

    </div>
  </div>
  <hr class="featurette-divider">


<app-footer></app-footer>