<app-navegacion></app-navegacion>

<hr class="featurette-divider">

<div class="row featurette  font1">
    <div class="col-md-7 p-6 ">
        <p class="h1" style="color: #5a5a5a;">La Ultrafiltración</p>
      <p class="lead">La Ultrafiltración (UF) es un proceso de separación por membrana, dentro de la tecnología de membranas para el tratamiento de agua, 
          que permite la separación mecánica de sólidos suspendidos
           o disueltos mediante un tamiz, utilizando la presión hidrostática para forzar el agua a través de una membrana semipermeable.</p>
    </div>
    <div class="col-md-5 p-3">
      <img class="img " src=" assets\Trabajo\Ultrafiltración.jpg" alt="">

    </div>
  </div>
  <hr class="featurette-divider">


<app-footer></app-footer>