
<app-navegacion></app-navegacion>
<app-carousel></app-carousel>

<!--Historia -->
  

 
<section class="w-50 mx-auto text-center pt-5 font1" id="intro">
    <h2 class="p-3 fs-3 border-top ">Somos una empresa que nace con la idea de ser un aporte en la disminución del daño medioambiental producido por los procesos<span class="text-primary">  industriales y la actividad humana, 
        enfocándose en el ámbito sanitario, 
        ingeniería y tratamiento de aguas.</span></h2>
    
</section>




<!--Termino de historia-->

<app-footer></app-footer>
