nav {
  font-family: 'Montserrat', sans-serif;
}
.btn-color {
  background-color: #278fc1;
}
.btn-link {
  color: white;
  filter: brightness(89%);
}
.btn-link:hover {
  color: white;
  filter: brightness(100%);
}
.navbar-light .navbar-nav .nav-link {
  color: #666666;
  filter: brightness(100%);
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #666666;
  filter: brightness(60%);
}
.element.style {
  color: black !important;
}
.btn-color {
  color: white;
  filter: brightness(89%);
}
.btn-color:hover {
  color: white;
  filter: brightness(100%);
}
