


<div class="d-flex d-flex justify-content-between  " style="background-color: #278fc1;">

  



      <!-- celular -->
      
   
      <a
        class="btn btn-link btn-floating btn-lg  "

        data-toggle="tooltip" 
        data-placement="right" 
        title="Llamanos"


        href="tel:56954102964"
        
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-solid fa-mobile-screen-button"></i>
      </a>
   
      <h4 class="p-2" style="color: #f8f9fa;">Ingenieria · Aguas · Tratamientos </h4>

      <!-- correo -->
      <a
        class="btn btn-link btn-floating btn-lg text-white "

        data-toggle="tooltip" 
        data-placement="left" 
        title="Escribenos"
        
        href="mailto:eialab2020@gmail.com" 
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-solid fa-envelope"></i>
      </a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light position-sticky sticky-top p-2 shadow  rounded   " id="menu">

  
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><img src="assets\Images\Logo eialab 640.png" alt="logo" width="142" height="40"  ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  href="nosotros">Nosotros</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="riles">Riles</a></li>
            <li><a class="dropdown-item" href="filtros">Filtros Multimedia</a></li>
            <li><a class="dropdown-item" href="osmosis">Ósmosis Inversa</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="ultrafiltracion">Ultrafiltración</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <!--a class="nav-link" href="#">Link</a-->
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-color" style="color: white;" href="Contacto" role="button">Contáctanos</a>
      </form>
    </div>
  </div>
</nav>
