html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html {
  font-family: 'Courier New', Courier, monospace;
}
.font1 {
  font-family: 'Assistant', sans-serif;
}
