<app-navegacion></app-navegacion>

<hr class="featurette-divider">

<div class="row featurette  font1">
    <div class="col-md-7 p-6 ">
        <p class="h1" style="color: #5a5a5a;">Ósmosis Inversa</p>
      <p class="lead">Ósmosis inversa es el proceso de separación del agua,
        de una solución con ciertas concentraciones de sales o contaminantes disueltos, el cual se
      utiliza una membrana semipermeable y una presión mayor a la presión osmótica de la solución para provocar el permeado, dejando atras
  las sales y contaminantes.</p>
    </div>
    <div class="col-md-5 p-3">
     
      <img class="img " src=" assets\Trabajo\Osmosis Inversa.jpeg" alt="">

    </div>
  </div>
  <hr class="featurette-divider">


<app-footer></app-footer>