<app-navegacion></app-navegacion>


<hr class="featurette-divider">

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="riles">Riles</a></li>
    <li class="breadcrumb-item"><a href="filtros">Filtros Multimedia</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ósmosis Inversa</li>
    <li class="breadcrumb-item"><a href="ultrafiltracion">Ultrafiltración</a></li>
  </ol>
</nav>

<hr class="featurette-divider">

<div class="row featurette  font1">
    <div class="col-md-7 p-6 ">
        <p class="h1" style="color: #5a5a5a;">Ósmosis Inversa</p>
      <p class="lead">Ósmosis inversa es el proceso de separación del agua,
        de una solución con ciertas concentraciones de sales o contaminantes disueltos, el cual se
      utiliza una membrana semipermeable y una presión mayor a la presión osmótica de la solución para provocar el permeado, dejando atras
  las sales y contaminantes.</p>
    </div>
    <div class="col-md-5 p-3">
     
      <img class="img " src=" assets\Trabajo\Osmosis Inversa.jpeg" alt="">

    </div>
  </div>
  <hr class="featurette-divider">


<app-footer></app-footer>